:root {
    --branding-color: #885df1;
    --default-font-family: "Poppins", sans-serif;
    --heading-font-family: "Playfair display", serif;
    --secondary-color: #f9f7fe;
    --text-color: #272142;
}

body {
    font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.about-section {
  padding: 60px 20px;
}

.about-section-content {
  margin: 10px 30px;
  padding-left: 35px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-weight: bold;
}

.about-section p {
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
  opacity: 70%;
}

.main-photo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.btn-branding {
  font-size: 18px;
  line-height: 27px;
  background: var(--branding-color);
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 10px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  
  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .about-section-content {
    padding: 0;
  }
}
